# --------- pytorch --------- #
torch>=2.0.0
torchvision>=0.15.0
lightning>=2.0.0
torchmetrics>=0.11.4

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550

# --------- others --------- #
rootutils       # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
# sh            # for running bash commands in some tests (linux/macos only)

# --------- extras --------- #
matplotlib
pandas
scikit-learn
ipykernel
jupyter

# --------- siren --------- #
git+https://github.com/CIDeR-ML/siren-lartpc.git@9c6956ff450f9540fabf9f7b1927d25191e74192
git+https://github.com/CIDeR-ML/siren-pfmatch.git@e00943595218c1ed74217b79588badee0cae4eba
git+https://github.com/CIDeR-ML/photonlib.git@1dd97deeca56331a48bc8afea1e1302de2239f54